<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<button mat-button (click)="openDialog()">New</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="entertable">

  <ng-container matColumnDef="objectId">
    <th mat-header-cell *matHeaderCellDef>Ид</th>
    <td mat-cell *matCellDef="let element"> {{element.objectId}} </td>
  </ng-container>

  <ng-container matColumnDef="AudName">
    <th mat-header-cell *matHeaderCellDef>Аудитория</th>
    <td mat-cell *matCellDef="let element"> {{element.AudName}} </td>
  </ng-container>

  <ng-container matColumnDef="Capacity">
    <th mat-header-cell *matHeaderCellDef>Вместимость</th>
    <td mat-cell *matCellDef="let element"> <p *ngIf="element.Capacity"> {{element.Capacity}}</p> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns;" (click)="openDialog(row)"></tr>

</table>

