<!--<p *ngIf="selectedPrepod">{{selectedPrepod.Name}}|{{selectedPrepod.IdKafedr.Name}}</p> -->
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<button mat-button (click)="openDialog()">New</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="entertable">

  <ng-container matColumnDef="objectId">
    <th mat-header-cell *matHeaderCellDef>Ид</th>
    <td mat-cell *matCellDef="let element"> {{element.objectId}} </td>
  </ng-container>

  <ng-container matColumnDef="PrepodName">
    <th mat-header-cell *matHeaderCellDef>Имя</th>
    <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
  </ng-container>

  <ng-container matColumnDef="PrepodSecondName">
    <th mat-header-cell *matHeaderCellDef>Фамилия</th>
    <td mat-cell *matCellDef="let element"> {{element.SecondName}} </td>
  </ng-container>

  <ng-container matColumnDef="PrepodMiddleName">
    <th mat-header-cell *matHeaderCellDef>Отчество</th>
    <td mat-cell *matCellDef="let element"> {{element.MiddleName}} </td>
  </ng-container>

  <ng-container matColumnDef="KafedrName">
    <th mat-header-cell *matHeaderCellDef>Кафедра</th>
    <td mat-cell *matCellDef="let element"> <p>{{element.KafedrName}}</p></td>
  </ng-container>

  <ng-container matColumnDef="IsActive">
    <th mat-header-cell *matHeaderCellDef>Кафедра</th>
    <td mat-cell *matCellDef="let element"> <p>{{element.IsActive}}</p></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayColumns;" (click)="openDialog(row)"></tr>

</table>




