<p>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Имя" [(ngModel)]="data.GroupName" name="Name">
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="Select" [(ngModel)]="data.IdFakult.objectId" name="kafedrId">
      <mat-option *ngFor="let fak of fakult" [value]="fak.objectId">
        {{fak.FakultName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>
<button mat-button (click)="onSaveClick()">Save</button>
<button mat-button (click)="onNoClick()">Cancel</button>
